<div class="profile-page">
    <div class="profile-section">
        <% if @user && @user.photo.attached? %>
            <%= cl_image_tag @user.photo.key, class: "avatar-big" %>
        <% elsif @user && @user.picture_url.present? %>
            <%= image_tag @user.picture_url, class: "avatar-big" %>
        <% else %>
            <%= image_tag "https://res.cloudinary.com/johngvc/image/upload/v1614782060/florencia-potter-yxmNWxi3wCo-unsplash_jhoyej.jpg", class: "avatar-big" %>
        <% end %>


        <% if @user == current_user %>
            <a href="<%= edit_user_registration_path(@user.id) %>">
                Edit my profile <i class="fas fa-edit"></i>
            </a>
        <% else %>
            <a href="<%= edit_user_registration_path(@user.id) %>" style="visibility: hidden;">
            Edit my profile <i class="fas fa-edit"></i>
            </a>
        <% end %>



        <div class="user-info-acc">
            <ul>
                <li><h2><%= @user.name %></h2></li>
                <li><p>Email: <%= @user.email %></p></li>
            </ul>
        </div>

        <div class="user-info">
            <p>
                <i class="fas fa-briefcase"></i>
                <% if Project.where({user_id: @user}).count > 1 %>
                    Founded <%= Project.where({user_id: @user}).count %> projects
                <% else %>
                    Founded <%= Project.where({user_id: @user}).count %> project
                <% end %>
            </p>
        </div>

    </div>

    <div class="second-section">
        <div class="projects-section">
            <h2>Active Projects</h2>
            <div class="card-container">

                <% @ongoing_projects_participating.each do |project| %>
                    <%= render 'shared/projectBigCard', project: project if !project.nil?%>
                <% end %>
                <% @suspended_projects_participating.each do |project| %>
                    <%= render 'shared/projectBigCard', project: project if !project.nil? %>
                <% end %>
            </div>
        </div>

        <div class="messages-section">
            <h2>Messages</h2>

            <div class="card-container">
                <%= render 'shared/messageCard' %>
                <%= render 'shared/messageCard' %>
                <%= render 'shared/messageCard' %>
                <%= render 'shared/messageCard' %>
                <%= render 'shared/messageCard' %>
                <%= render 'shared/messageCard' %>
                <%= render 'shared/messageCard' %>
            </div>
        </div>
    </div>
</div>
