  <div class="macontainer mauser-card" >
    <div class="macard-element maavatar-and-description">
      <div class="maavatar-container">
        <% if User.find(message.user_sender_id).photo.attached? %>
                <%= cl_image_tag User.find(message.user_sender_id).photo.key, class: "maavatar" %>
            <% elsif User.find(message.user_sender_id).picture_url.present? %>
                <%= image_tag User.find(message.user_sender_id).picture_url, class: "maavatar" %>
            <% else %>
                <%= image_tag "https://res.cloudinary.com/johngvc/image/upload/v1614782060/florencia-potter-yxmNWxi3wCo-unsplash_jhoyej.jpg", class: "maavatar" %>
        <% end %>
      </div>

      <div class="madescription-container">
        <% if message.is_new_message %>
          <p class="new-message">New message</p>
        <% end %>
        <p class="madesc-title"><%= "from: #{User.find_by(id: message.user_sender_id).name == current_user.name ? "You" : User.find_by(id: message.user_sender_id).name} (#{User.find_by(id: message.user_sender_id).email})" %></p>
        <p class="madesc-title"><%= "to: #{User.find_by(id: message.user_receiver_id).name == current_user.name ? "You" : User.find_by(id: message.user_receiver_id).name} (#{User.find_by(id: message.user_receiver_id).email})" %></p>
      </div>

    </div>
    <div class="mmessage-content">
      <p><%= message.content %></p>
    </div>

    <div class="macard-element macard-btn">
      <div class="mabutton1">
        <% if message.user_sender_id != current_user.id %>
          <%= link_to 'reply', reply_from_message_card_path(message: message.id), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#replyFromMessageCardModal' } %>
        <% end %>
      </div>
    </div>
  </div>
