<div class="reset-margin nav-bar">
  <div class="logo">
    <a class="reset" href="/"><div class="img"></div></a>
    <div class="nav-bar-search-input">
      <i class="fas fa-search"></i>
      <form action="">
        <input type="text" placeholder="Find on Forgehub">
      </form>
    </div>
  </div>

  <% if user_signed_in? %>
    <div class="avatar-section">
      <div class="nav-item active">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </div>
        <div class="nav-item">
          <%= link_to "New project", "#", class: "nav-link" %>
        </div>
        <div class="nav-item">
          <%= link_to "My projects", profile_path(current_user.id), class: "nav-link" %>
        </div>
        <div class="nav-item dropdown">
          <% if !current_user.photo.attached? %>
            <%= image_tag "https://res.cloudinary.com/johngvc/image/upload/v1614782060/florencia-potter-yxmNWxi3wCo-unsplash_jhoyej.jpg", class: "avatar-forgehub dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= cl_image_tag current_user.photo.key, class: "avatar-forgehub dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "My profile", profile_path(current_user.id), class: "dropdown-item" %>
            <%= link_to "Edit my account", "/users/edit", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </div>
    </div>
        
  <% elsif controller_name != "sessions" %>
    <div class="sign-in-section">
          <a href="/users/sign_in"><button class="Log-in-btn">LOG IN</button></a>
    </div>

  <% else %>
    <div class="sign-in-section"></div>
  <% end %>
</div>