  <div class="my-container project-card" >
    <div class="card-element project-image">

        <a href="<%= project_path(project.id) %>" class="img-link"> 
          <% if project.photo.attached? %>
              <%= cl_image_tag project.photo.key, class: "img" %>
          <% else %>
              <%= image_tag "https://res.cloudinary.com/johngvc/image/upload/v1614792257/Mesa_ikvzhp.jpg", class: "img" %>
          <% end %>
        </a>
        <div class="container-gradient">
          <a href="<%= profile_path(User.find(project.user_id)) %>">
            <% if User.find(project.user_id) && User.find(project.user_id).photo.attached? %>
                <%= cl_image_tag User.find(project.user_id).photo.key, class: "avatar-and-name" %>
            <% elsif User.find(project.user_id) && User.find(project.user_id).picture_url.present? %>
                <%= image_tag User.find(project.user_id).picture_url, class: "avatar-and-name" %>
            <% else %>
                <%= image_tag "https://res.cloudinary.com/johngvc/image/upload/v1614782060/florencia-potter-yxmNWxi3wCo-unsplash_jhoyej.jpg", class: "avatar-and-name" %>
            <% end %>
          </a>
          <a href="<%= profile_path(User.find(project.user_id)) %>"><p class="founder">Founded by <%= User.find(project.user_id).name %><p/></a>
        </div>
    </div>

    <div class="card-element project-title">
      <p>
        <a href="<%= project_path(project.id) %>">
          <%= project.name %>
        </a>
      </p>
    </div>

    <div class="card-element project-description">
      <p>
        <%= project.description %>
      </p>
    </div>

    <div class="card-element project-infos">
      <div class="info">
        <i class="fas fa-user-friends"></i>
        <p>3 spots available</p>
      </div>
      <div class="info">
        <i class="fas fa-flag"></i>     
        <% if project.is_suspended %>
          <p style="color: red;">Project suspended</p>
        <% else %>
          <p>On Design/Pre production</p>
        <% end %>
      </div>
    </div>
    <div class="container-card">
        <a class="apply-now-link" href="<%= project_path(project.id) %>">Read more</a>
    </div>

  </div>
