<div class=container>
  <div class="form-project">
    <h2 class="heading text-center">Edit my project</h2>
    <%= simple_form_for(@project) do |f| %>
      <div class="input-area">
        <div class="container project-infos-2">
          <div class="container">
            <div class="main-infos">
              <%=f.input :name, required: true, label: "Project a name" %>
              <%= f.input :description, required: true, label: "Brief explanation (max 120 characters)" %>
              <%= f.input :photo, as: :file, label: "Photo attachment" %>
              <%= f.input :is_suspended, as: :radio_buttons, collection: [['No', false], ['Yes', true]], :label => "Suspend project?", data: { confirm: "Are you sure you want to suspend this project?" } %>
              <%= f.input :status_project, :collection => ['idea', 'design', 'pre-production', 'development', 'growth'], label: "Project status" %>
            </div>
          </div>
          <div class="container">
            <div class="social-links-2">
              <%= f.input :linkedin_url, label: "LinkedIn page" %>
              <%= f.input :github_url, label: "GitHub page" %>
              <%= f.input :trello_url, label: "Trello page" %>
            </div>
            <div class="form-actions project-submit-btn">
              <%= f.submit "Submit changes" %>
              <div class="delete-link-container">
                <%= link_to "Delete project", project_destroy_path(id: @project.id), method: :delete, data: { confirm: "Are you sure you want to permanently delete this project?" } %>
              </div>
            </div>
          </div>
        </div>
        <div class="container project-rich-text">
          <div class="rich-text-area">
            <%= f.input :content, required: true, as: :rich_text_area, label: "Project goal and story" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

