<div class=master-container>
  <div class="form"> 
    <h2 class="heading text-center">Edit my projects</h2>
    <%= simple_form_for(@project) do |f| %> <%= f.input :name %> <%= f.label :description, 'Description'%>
    <%= f.text_area :description, required: true, style: "width: 100%;" %>
    <%= f.input :linkedin_url %> <%= f.input :github_url %> <%=
    f.input :trello_url %> <%= f.input :photo, as: :file %>
    
    <div class="form-actions">
      <%= f.submit "Edite meu projeto", style: "margin-bottom: 15px; border: none;" %>
    </div>
    <% end %>
  </div>
</div>