<div class="container-fluid my-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card p-3">
        <div class="row justify-content-center">
          <div class="col-12">
            <h2
              class="heading text-center center"
              style="color: rgb(40, 40, 40)"
            >
              edit project:
            </h2>
          </div>
        </div>
        <%= simple_form_for(@project) do |f| %> <%= f.input :name %> <%=
        f.input :description %> <%= f.input :linkedin_url %> <%= f.input :github_url %> <%=
        f.input :trello_url %> <%= f.submit "Edite meu projeto", class: "btn
        btn-success" %> <% end %>
      </div>
    </div>
  </div>
</div>
