
<div class="projects-section-search">
  <div class="container-new">
    <h1>Explore</h1>
      <div class="cards-container">
        <% if @available_projects == nil %>
          <p>There are currently no projects that you do not participate in.</p>

        <% else %>

          <% @available_projects.each do |project| %>

            <% unless project.is_suspended? %>
              <%= render 'shared/projectBigCard', project: project %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="container-new hidden">
      <h1>Your projects</h1>

        <div class="cards-container">
          <% if @participating_projects.nil? %>
            <p><%= "#{current_user.name} currently is not a member of a project." %></p>
          <% else %>

            <% if @ongoing_projects_participating.nil? %>
              <p><%= "#{current_user.name} currently is not a member of an ongoing project." %></p>

            <% else %>

              <% @ongoing_projects_participating.each do |project| %>
                <%= render 'shared/projectBigCard', project: project %>
              <% end %>
            <% end %>

            <% unless @suspended_projects_participating.nil? %>

              <% @suspended_projects_participating.each do |project| %>
                <%= render 'shared/projectBigCard', project: project %>
              <% end %>
            <% end %>
          <% end %>
        </div>
  </div>
</div>
