<div class="container-fluid my-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card p-3">
        <div class="row justify-content-center">
          <div class="col-12">
            <h2 class="heading text-center">Do have a pet to donate?</h2>
            <h4 class="heading text-center"><strong>You're in the right place</strong></h4>
          </div>
        </div>
        <%= simple_form_for(@project) do |f| %>
          <%=f.input :name %>
          <%= f.input :description %>
          <%= f.input :linkedin_url %>
          <%= f.input :github_url %>
          <%= f.input :trello_url %>
          <div style="display: flex; justify-content: space-between;">
            <a class="btn btn-success mx-2" onclick="history.back(-1)">I've changed my mind!</a>
            <%=f.submit "Find my pet an owner!", class: "btn btn-success mx-2", style: "width: auto;"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>