<header class="sh-prj-pg" id="sh-prj-pg-header">
  <div class="container-new center-text">
    <h1><%=  @project.name %></h1>
    <p><%= @project.description %></p>
  </div>
</header>
<main class="sh-prj-pg">
  <div class="container-new">
    <section id="prj-photo-call-to-action">
      <div class="split-flex">
        <div>
          <% if @project.photo.attached? %>
            <%= cl_image_tag @project.photo.key%>
          <% else %>
            <%= image_tag "https://res.cloudinary.com/johngvc/image/upload/v1614792257/Mesa_ikvzhp.jpg"%>
          <% end %>
        </div>
        <div class="center-text" id="text-call-to-action">
          <% if User.find(@project.user_id) == current_user %>
            <h2>Welcome back, <%= User.find(@project.user_id).name %>!</h2>
          <% else %>
            <h2><%= User.find(@project.user_id).name %> wants to make <%= @project.name %> a reality</h2>
          <% end %>
          <p>Current phase: <%= @project.status_project %></p>
          <% if @is_not_participant && @has_join_request == false %>
            <buttondata-toggle="modal" data-target="#projectAskModal">
              Ask to join this project!
            </buttondata-toggle=>
          <% elsif @is_participant && @participant.status == 'founder' %>
            <%= link_to edit_project_path(id: @project.id) do %>
              <div>edit this project!</div>
            <% end %>
            <% unless @join_requests.first.nil? %>
              <%= link_to "Pending join requests!", project_join_request_pending_path(@project.id) %>
            <% end %>
          <% end %>
          <ul>
            <% if !@project.linkedin_url.empty? %>
              <li>
                <a href="<%= @project.linkedin_url %>" target="_blank">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            <% end %>
            <% if !@project.github_url.empty? %>
              <li>
                <a href="<%= @project.github_url %>" target="_blank">
                  <i class="fa fa-github"></i>
                </a>
              </li>
            <% end %>
            <% if !@project.trello_url.empty? %>
              <li>
                <a href="<%= @project.trello_url %>" target="_blank">
                  <i class="fa fa-trello"></i>
                </a>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </section>
    <section id="prj-story">
      <div>
        <h2 class="center-text">Our story:</h2>
        <div class="center-text">
          <%= @project.content %>
        </div>
      </div>
    </section>
    <section id="prj-members">
      <div class="center-text">
        <h2>Project members:</h2>
        <% if @project_participants.empty? %>
          <p><%= "There are no registered members of #{@project.name}"%></p>
        <% else %>
          <%= link_to "Detailed list", project_participants_path(project_id: @project.id) if !Participant.where(user_id: current_user.id, project_id: @project).first.nil? %>
          <div class="split-flex-normal">
            <% @project_participants.each do |participant| %>
              <%= render 'shared/userCard', participant: participant %>
            <% end %>
          </div>
        <% end %>
      </div>
    </section>
  </div>
</main>
<!-- Modal -->
<div class="modal fade" id="projectAskModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">send the founders a message asking to join this project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_tag project_join_request_do_path(project_id: @project, id: @project_participants.first.id), method: :post do %>
        <div class="modal-body">
          <div class="input-group">
            <textarea class="form-control" name="request_message"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn-generic" value="send message">
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- Modal -->
