<div class="container-new">
  <section>
    <div class="container-new project-intro">
      <div class="project-title-desc">
        <h1><%=  @project.name %></h1>
        <p><%= @project.description %></p>
      </div>
    </div>
  </section>
  <section class="project-call-img">
    <div class=project-img-container>
      <% if @project.photo.attached? %>
        <%= cl_image_tag @project.photo.key, class: "project-img" %>
      <% else %>
        <%= image_tag "https://res.cloudinary.com/johngvc/image/upload/v1614792257/Mesa_ikvzhp.jpg", class: "project-img" %>
      <% end %>
    </div>
    <div class="project-call-container">
      <div class="container-new">
        <div class="project-apply">
          <% if User.find(@project.user_id) == current_user %>
            <h2>Welcome back, <%= User.find(@project.user_id).name %>!</h2>
          <% else %>
            <h2><%= User.find(@project.user_id).name %> wants to make <%= @project.name %> a reality</h2>
          <% end %>
          <p>Current phase: <%= @project.status_project %></p>
          <% if @is_not_participant && @has_join_request == false %>
            <button class="ask-to-join-btn" data-toggle="modal" data-target="#projectAskModal">
              Ask to join this project!
            </button>
          <% elsif @is_participant && @participant.status == 'founder' %>
            <%= link_to edit_project_path(id: @project.id) do %>
              <div class="ask-to-join-btn">edit this project!</div>
            <% end %>
            <% unless @join_requests.first.nil? %>
              <%= link_to "Pending join requests!", project_join_request_pending_path(@project.id) %>
            <% end %>
          <% end %>
          <div class="social-links">
            <% if !@project.linkedin_url.empty? %>
              <a href="<%= @project.linkedin_url %>" target="_blank">
                <i class="fa fa-linkedin"></i>
              </a>
            <% end %>
            <% if !@project.github_url.empty? %>
              <a href="<%= @project.github_url %>" target="_blank">
                <i class="fa fa-github"></i>
              </a>
            <% end %>
            <% if !@project.trello_url.empty? %>
              <a href="<%= @project.trello_url %>" target="_blank">
                <i class="fa fa-trello"></i>
              </a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<section class="container-new project-info-tabs">
  <div class="project-info-nav">
    <navbar>
      <button class="btn-tab active" id="tab1">
        <div></div>
        Our story
      </button>
      <button class="btn-tab" id="tab2">
        <div></div>
        Project Milestones
      </button>
      <button class="btn-tab" id="tab3">
        <div></div>
        Comments
      </button>
      <button class="btn-tab" id="tab4">
        <div></div>
        FAQ
      </button>
    </navbar>
  </div>
  <div class="tab-contents">
    <div class="container-new tab-content" id="content-tab1" style="display: block;">
      <h2>tab1</h2>
      <%= @project.content %>
    </div>
    <div class="container-new tab-content" id="content-tab2">
      <h2>tab2</h2>
      <%= @project.content %>
    </div>
    <div class="container-new tab-content" id="content-tab3">
      <h2>tab3</h2>
      <%= @project.content %>
    </div>
    <div class="container-new tab-content" id="content-tab4">
      <h2>tab4</h2>
      <%= @project.content %>
    </div>
  </div>
</section>
<div class="container-new">
  <div class="card-project-profile">
    <h2>Project members:</h2>
    <% if @project_participants.empty? %>
      <p><%= "There are no registered members of #{@project.name}"%></p>
    <% else %>
      <%= link_to "Detailed list", project_participants_path(project_id: @project.id) if !Participant.where(user_id: current_user.id, project_id: @project).first.nil? %>
      <div class="acard-container2">
        <% @project_participants.each do |participant| %>
          <%= render 'shared/userCard', participant: participant %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="projectAskModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">send the founders a message asking to join this project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_tag project_join_request_do_path(project_id: @project, id: @project_participants.first.id), method: :post do %>
        <div class="modal-body">
          <div class="input-group">
            <textarea class="form-control" name="request_message"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn-generic" value="send message">
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- Modal -->
