<%= simple_form_for @message, remote: true do |f| %>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">send </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">

            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <%= simple_fields_for :other do |o| %>
              <%= o.input :user_receiver, label: 'receiver e-mail', collection: @users.map(&:email) %>
            <% end %>
            <%= f.input :content, as: :text %>
        </div>
        <div class="modal-footer">
          <%= f.submit "send message" %>
        </div>

      </div>
    </div>
  </div>
<% end %>
