<div class="master-container">
  <div class="container-new bootcamp">
    <div class="form">
      <div class="container-new">
        <h2 class="heading text-center">Add your coding bootcamp</h2>
        <%= simple_form_for(@bootcamp) do |f| %>
          <%=f.input :name, required: true, label: "Bootcamp name" %>
          <%= f.input :country, as: :country, required: true, label: "Country" %>
          <%= f.input :city, required: true, label: "City" %>
          <%= f.input :website, label: "Website" %>
          <div class="form-actions">
            <%= f.button :submit, value: "Add bootcamp" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
